[submodule "haskell-mode"]
	path = haskell-mode
	url = git://github.com/haskell/haskell-mode.git
[submodule "helm"]
	path = helm
	url = git://github.com/emacs-helm/helm.git
[submodule "magit"]
	path = magit
	url = git://github.com/magit/magit.git
[submodule "erlang"]
	path = erlang
	url = git://github.com/emacsmirror/erlang.git
[submodule "emacs-color-theme-solarized"]
	path = emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "evil"]
	path = evil
	url = git://github.com/emacsmirror/evil.git
[submodule "auto-complete"]
	path = auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "popup-el"]
	path = popup-el
	url = git://github.com/m2ym/popup-el.git
[submodule "flymake"]
	path = flymake
	url = git://github.com/emacsmirror/flymake.git
[submodule "flymake-ruby"]
	path = flymake-ruby
	url = git://github.com/purcell/flymake-ruby.git
[submodule "js2-mode"]
	path = js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "haml-mode"]
	path = haml-mode
	url = git://github.com/rradonic/haml-mode.git
[submodule "smart-compile-plus"]
	path = smart-compile-plus
	url = git://github.com/emacsmirror/smart-compile-plus.git
[submodule "sass-mode"]
	path = sass-mode
	url = git://github.com/emacsmirror/sass-mode.git
[submodule "toggle"]
	path = toggle
	url = git://github.com/emacsmirror/toggle.git
[submodule "wgrep"]
	path = wgrep
	url = git://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "yaml-mode"]
	path = yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "session"]
	path = session
	url = git://github.com/tarsius/session.git
[submodule "chuck-mode"]
	path = chuck-mode
	url = git://github.com/emacsmirror/chuck-mode.git
[submodule "expand-region.el"]
	path = expand-region.el
	url = git://github.com/magnars/expand-region.el.git
[submodule "mark-multiple.el"]
	path = mark-multiple.el
	url = git://github.com/magnars/mark-multiple.el.git
[submodule "rhtml"]
	path = rhtml
	url = git://github.com/eschulte/rhtml.git
