[submodule "haskell-mode"]
	path = haskell-mode
	url = git://github.com/haskell/haskell-mode.git
[submodule "helm"]
	path = helm
	url = git://github.com/emacs-helm/helm.git
[submodule "magit"]
	path = magit
	url = git://github.com/magit/magit.git
[submodule "erlang"]
	path = erlang
	url = git://github.com/emacsmirror/erlang.git
[submodule "emacs-color-theme-solarized"]
	path = emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "evil"]
	path = evil
	url = git://github.com/emacsmirror/evil.git
[submodule "python-mode"]
	path = python-mode
	url = git://github.com/emacsmirror/python-mode.git
[submodule "auto-complete"]
	path = auto-complete
	url = git://github.com/m2ym/auto-complete.git
